# Python
__pycache__/
*.py[cod]
*py
*.so
*.gs
.env
venv/
.venv/
env/
!server.py
!excel_generator.py
!table_client.py
!okr_report_service.py


# Data
*.csv
*.json
*.txt
!requirements.txt

# IDEs
.vscode/
.idea/

# Specific Helper MDs (Exclude all MDs except README)
*.md
!README.md
