# Python
__pycache__/
*.py[cod]
*py
*.so
*.gs
.env
venv/
.venv/
env/
!server.py

# Data
*.csv
*.json
*.txt

# IDEs
.vscode/
.idea/

# Specific Helper MDs (Exclude all MDs except README)
*.md
!README.md
